body, html {
    height: 100%;
}
.svg-container {
    display: block;
    overflow: auto;
    border: 1px dotted #AAA;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  fill:none;
}